body{
  .plant{
    background-image: url("section-bg-11.jpg");
    background-size: cover;
    height:340px;
    .intra{
      @extend %intros;
      color:#7a7a7a;
    }
    .intra2{
      @extend %heads;
      font-size: 54px;

    }

  }

}
