body{
  .icons{
    
    .prim{
      @extend %heads;
      font-size: 18px;
    }
    .sec{
      @extend %contents;
      width:302px;
      padding-left: 50px;
    }
    i{
      color:#fcca03;

    }
  }
}
