body{
  .yell{
    padding-top:66px;
    padding-bottom: 66px;
    background-color: #fcca03;
    height: 182px;
    width: 100%;
    margin:0;


p{
  position: relative;
  font-size: 16px;
  font-family: "Raleway";
  font-weight: "bold";
}
  .me{
    font-size:50px;
  margin-top:-80px;
    display:block;
    color:#7a7a7a;
    opacity: 0.5;
  }
  }
}
